@use 'helpers' as *;

:root {
	/*Светлые оттенки*/
	--color-light: #FFFFFF;

	/*Темные оттенки*/
	--color-dark: #141414;
	--color-dark-10: #1A1A1A;
	--color-dark-15: #262626;
	--color-dark-20: #333333;
	--color-dark-40: #666666;

	/*Серые оттенки*/
	--color-gray-50: #7E7E81;
	--color-gray-60: #98989A;

	/*Главный акцентный оттенок*/
	--color-accent: #FFD11A; 

	/*Красные оттенки*/
	--color-red: #FF5500;

	/*Частоиспользуемая рамка*/
	--border: #{rem(1)} solid var(--color-dark-15);

	/*Основные семейства шрифтов*/
	--font-family-based: 'Inter', sans-serif;
	--font-family-accent: 'Kumbh Sans', sans-serif;

	/*Параметры контентного контейнера*/
	--container-width: #{rem(1600)};
	--container-padding-x: #{rem(16)};

	--transition-duration: 0.2s;

	@include laptop {
		--container-width: #{rem(1280)};
	}
}